<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
   <h1>hello world</h1>
   <h2 class="f">jejejjejejjejejje</h2>
   
   <p1 class="lol"> estoy haciendo lo que puedo :)
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfTCJkOFkgdOh3Ov8BDxjk8DqG6R6nHH7_1A&s" alt="https://static.wikia.nocookie.net/omniversal-battlefield/images/f/f9/C7CDC859-1FA4-4168-9284-DB6A17387B6A.png/revision/latest?cb=20190521191450">
</body>
</html>